<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CHE9000Soap" />
                <binding name="CHE9000Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://120.25.156.238/CHE9000SER/CHE9000.asmx"
                binding="basicHttpBinding" bindingConfiguration="CHE9000Soap"
                contract="CHE9000.CHE9000Soap" name="CHE9000Soap" />
            <endpoint address="http://localhost:31299/CHE9000SER/CHE9000.asmx"
                binding="basicHttpBinding" bindingConfiguration="CHE9000Soap1"
                contract="MYCHE9000.CHE9000Soap" name="CHE9000Soap1" />
        </client>
    </system.serviceModel>
</configuration>
