<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CHE9000_FILE" value="/CHE9000SER/UPFILE/"   />
    <add key="CHE9000_CONN" value="Data Source=.;Initial Catalog=CHE9000;User ID=sa;Password=wsb;"/>
  </appSettings> 
  <system.web>
    <sessionState mode="InProc" timeout="60"></sessionState>
    <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312"/>
    <authentication mode="Windows"/>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm"></customErrors>
    <compilation targetFramework="4.0" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web> 
</configuration>
